#profileContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFF0;
  background-size:cover;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

#profile{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFF0;
  background-size:cover;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  }
  #profile > h2{
    color: #05ADBA;
    margin-top:2em;
    margin-bottom:1em ;

  }
  #editPhoto > input{
    display: none;
  }
  #editPhoto img{
  width: 25px;
  margin-bottom:1em;
  cursor: pointer;
}
#profile h1,h3{
  margin-bottom:1em;
  font-size: 16px;
  color:black;
  text-align: center;
}
#nameUser{
  text-transform: uppercase;
}

#mail{
  color:black;
  margin-bottom:1em;
  display: block;
}

#profile .photo{
  border-radius: 50%;
  max-width: 25%;
  display:inline-block;
  }
#profile a{
  text-decoration: none;
  color: black;
}

#btnUp{
  width: 100px;
  height: 25px;
  font-size: 12px;
  margin-top: 1em;
}

#btnSaves{
  width: 100px;
  height: 25px;
  font-size: 12px;
  margin-top: 1em;
}

#userEdit{
  width: 20px;
  height: 20px;
  margin-bottom:1em;
  cursor: pointer;
}

#btnEdits{
  width: 20px;
  height: 20px;
  
}

#biographyid{
  width:200px;
  height:50px;
  font-family: 'Source Sans Pro';
  background: #DED5D5;
  color:black;
  padding:5px;
}

/*#profileBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #FFFFF0;
  position: relative;
  padding: 10px
}*/

.comment{
  min-width: 250px;
  margin: 30px auto;
  background-color: gray;
}


#deleteIcon{
  width: 30px;
  height: 30px;
  background-image: url(../img/delete.png);
  background-position: center;
  cursor: pointer;
}

#confirm{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  height: 100px;
  background-color: #FFFFFF;
  border: 1px solid #766D78;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  color: #5D5D5D;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#confirm > h2{
  font-size: 1em;
}
#deleteBtn{
  background-color: #ED3124;
  border: 2px solid #C7251F;
}