.headerTimeline {
    height: 80px;
}

header .container{
    background-color:black
}

header .logo {
    max-width: 5rem;
}

  .containerTimeline {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCEE;
  }

 


  