
 .containerTimeline {
    height: 1300%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF0;
  }

  .btnlogin {
  margin-top: 50px;
  align-self: center;
  text-align: center;
  height: 40px;
  width: 200px;
  background: #06B8C7;
  border: 2px solid #06B8C7;
  border-radius: 5px;
  font-family: 'Anton';
  color: #FFFFFF;
  margin-inline: 50px;
  }

/*MENU MURO*/

.checkbtn {
  float: right;
}

header > nav ul {
  position: fixed;
  width: 50%;
  background: #06b8c7;
  top: 50px;
  right: -100%;
  transition: all 0.5s;
}
header > nav ul li {
  display: block;
  margin: 5px 0;
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header > nav ul img {
   margin: 0px 15px;
  
}

#check:checked ~ ul {
  right: 0;
  padding: 10px;
}
header > nav ul li .optionsWall {
  font-size: 15px;
  padding: 30px 5px;
  color: white;
  font-family: 'Source Sans Pro';
}
nav {
  overflow-y: auto;
  max-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

#check {
  display: none;
}

/*POSTS*/

.newsfeed {
  padding: 0 20px;
  
}

.card {
  width: 100%;
  height: 100%;
  background: #DADADA;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Anton';
  color: black;
}

.card .content {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  margin-top:50px;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .profile-pic {
  background-image: url('/src/img/user.png');
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card .detail {
  margin-left: 10px;
}

.card .posted {
  font-size: 10px;
  padding-top: 3px;
  font-family: 'Comfortaa';
  color: black;
}

.card .desc {
  padding-top: 10px;
  line-height: 1.5;
  font-family: 'Source Sans Pro';
  color: black;
}

.card .categories {
  background-image: url('/src/img/series.png');
  background-position: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin-left: 130px;

}

/*COMMENTS*/

.comments {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  background: #4A4143;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  color: white;
  padding: 15px;
  margin-left: 70px;
  }

.comments content {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  margin-top:50px;

}

.icons {
  margin-left: 200px;
}

.icons .commentaries {
  margin-left: 30px;
}

.btnCommentaries {
  margin-top: 10px;
  align-self: center;
  text-align: center;
  height: 40px;
  width: 100px;
  background: #06B8C7;
  border: 2px solid #06B8C7;
  border-radius: 5px;
  font-family: 'Anton';
  color: #FFFFFF;
  margin-left: 225px;
 
 
}

.inputComment {
  font-family: 'Source Sans Pro';
  width: 100%;
}