@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300&family=Source+Sans+Pro&display=swap');
@import "css/home.css";
@import "css/login.css";
@import "css/createAccount.css";
@import "css/thanksAccount.css";
@import "css/recover.css";
@import "css/timeline.css";

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #FFFFFF;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

main{
  height: 100%;
}

header{
  display: block; 
  height: 80px;

  }

/*MENU MURO*/

.checkbtn{
  float: right;  
}

header > nav ul{
  position: fixed;
  width: 30%;
  height: 25vh;
  background:#06B8C7;
  top: 50px;
  right: -100%;
  text-align: center;
  transition: all .5s;
}
header >nav ul li{
  display: block;
  margin: 5px 0;
  line-height: 20px;
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
#check:checked ~ ul{
  right: 0;
}
header>nav ul li .optionsWall {
  font-size: 13px;
  padding: 30px 5px;
}
nav {
  overflow-y: auto;
  max-height: 100vh;

  overflow-x: hidden;
}

#check{
    display: none;
  }

.btn{
  align-self: center;
  text-align: center;
  height: 40px;
  width: 200px;
  background: #06B8C7;
  border: 2px solid #06B8C7;
  border-radius: 5px;
  font-family: 'Comfortaa';
  color: #FFFFFF;

}
.btn:hover {
   background: cadetblue ;
   border-color: cadetblue;

}

footer{
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 0.7em;
  background: #000;
  height: 50px;
  border-top: 3px solid #FFFFFF;


}/* TABLET */

@media (min-width: 1000px){
  footer{
    height: 70px;
    font-size: 1em;
  }
}