@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa&family=Source+Sans+Pro&display=swap');
@import "css/createAccount.css";
@import "css/thanksAccount.css";

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #FFFFFF;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  }

main{
  height: 100%;
}

header{
  height: 50px;
}

footer{
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 0.7em;
  background: #000;
  height: 50px;
  border-top: 3px solid #FFFFFF;
}

@media (min-width: 1000px){
  footer{
    height: 70px;
    font-size: 1em;
  }
}